node_modules/
out/
dist/
.vscode-test/
.vscode-test-web/
test/testFixture/.vscode
*.vsix
.DS_Store
test-resources/
yarn.lock
.yarnrc

run-test-log.txt
test/testFixture/linkml/deprecated
.planning/patterns/
.mcp.json
.bg-shell
.gsd-id
.gsd
