node_modules/
out/
dist/
.vscode-test/
.vscode-test-web/
test/testFixture/.vscode
*.vsix
.DS_Store
test-resources/
yarn.lock
.yarnrc

run-test-log.txt
test/testFixture/linkml/all_arrays.yaml
test/testFixture/linkml/alternatives.yaml
test/testFixture/linkml/any_shape.yaml
test/testFixture/linkml/base.yaml
test/testFixture/linkml/biolink-model.yaml
test/testFixture/linkml/boolean_constraints.yaml
test/testFixture/linkml/bounded_dimensions.yaml
test/testFixture/linkml/cardinality.yaml
test/testFixture/linkml/complex_dimensions.yaml
test/testFixture/linkml/complex_inheritance.yaml
test/testFixture/linkml/complex_ranges.yaml
test/testFixture/linkml/Container-001.yaml
test/testFixture/linkml/core.yaml
test/testFixture/linkml/curie_case.yaml
test/testFixture/linkml/custom_class_range.yaml
test/testFixture/linkml/data_example_prefix_map.yaml
test/testFixture/linkml/data_example.yaml
test/testFixture/linkml/Dataset-01.yaml
test/testFixture/linkml/Dataset-02.yaml
test/testFixture/linkml/datatypes.yaml
test/testFixture/linkml/default_namespace.yaml
test/testFixture/linkml/deprecation.yaml
test/testFixture/linkml/dtype.yaml
test/testFixture/linkml/dummy.yaml
test/testFixture/linkml/entityreference.yaml
test/testFixture/linkml/entrydescription.yaml
test/testFixture/linkml/enum_class_name_error.yaml
test/testFixture/linkml/enum_error_1.yaml
test/testFixture/linkml/enum_error_2.yaml
test/testFixture/linkml/enum_error_3.yaml
test/testFixture/linkml/enum_error_4.yaml
test/testFixture/linkml/enum_error_5.yaml
test/testFixture/linkml/enum_error_6a.yaml
test/testFixture/linkml/enum_error_6b.yaml
test/testFixture/linkml/enum_error_7.yaml
test/testFixture/linkml/enum_name_error.yaml
test/testFixture/linkml/enum_name_overlaps.yaml
test/testFixture/linkml/enum_type_name_error.yaml
test/testFixture/linkml/enums.yaml
test/testFixture/linkml/equipment.yaml
test/testFixture/linkml/error_complex_dimensions.yaml
test/testFixture/linkml/error_complex_unbounded.yaml
test/testFixture/linkml/evidence.yaml
test/testFixture/linkml/exclude_imports_imported.yaml
test/testFixture/linkml/exclude_imports.yaml
test/testFixture/linkml/explicit_key_id.yaml
test/testFixture/linkml/extension.yaml
test/testFixture/linkml/file1.yaml
test/testFixture/linkml/file2.yaml
test/testFixture/linkml/generator1.yaml
test/testFixture/linkml/good_pattern.yaml
test/testFixture/linkml/ifabsent_custom_types.yaml
test/testFixture/linkml/illegal_mapping_prefix.yaml
test/testFixture/linkml/import_test_1.yaml
test/testFixture/linkml/import_test_2.yaml
test/testFixture/linkml/import_test_3.yaml
test/testFixture/linkml/import_test_4.yaml
test/testFixture/linkml/import_test_base.yaml
test/testFixture/linkml/import_test_l1.yaml
test/testFixture/linkml/import_test_l2.yaml
test/testFixture/linkml/importee.yaml
test/testFixture/linkml/importer.yaml
test/testFixture/linkml/include_core.yaml
test/testFixture/linkml/include_schema.yaml
test/testFixture/linkml/index.yaml
test/testFixture/linkml/inherited_slots.yaml
test/testFixture/linkml/inheritedid.yaml
test/testFixture/linkml/Issue_6_fixed.yaml
test/testFixture/linkml/Issue_6.yaml
test/testFixture/linkml/issue_12.yaml
test/testFixture/linkml/issue_14.yaml
test/testFixture/linkml/issue_18_error1.yaml
test/testFixture/linkml/issue_18_error2.yaml
test/testFixture/linkml/issue_18_error3.yaml
test/testFixture/linkml/issue_18_error4.yaml
test/testFixture/linkml/issue_18_warning1.yaml
test/testFixture/linkml/issue_18.yaml
test/testFixture/linkml/issue_38.yaml
test/testFixture/linkml/issue_44.yaml
test/testFixture/linkml/issue_50.yaml
test/testFixture/linkml/issue_56_bad.yaml
test/testFixture/linkml/issue_56_good.yaml
test/testFixture/linkml/issue_58_error1.yaml
test/testFixture/linkml/issue_62.yaml
test/testFixture/linkml/issue_63.yaml
test/testFixture/linkml/issue_65_new.yaml
test/testFixture/linkml/issue_65.yaml
test/testFixture/linkml/issue_80.yaml
test/testFixture/linkml/issue_84.yaml
test/testFixture/linkml/issue_106.yaml
test/testFixture/linkml/issue_107.yaml
test/testFixture/linkml/issue_108.yaml
test/testFixture/linkml/issue_112.yaml
test/testFixture/linkml/issue_113.yaml
test/testFixture/linkml/issue_120.yaml
test/testFixture/linkml/issue_121_imports.yaml
test/testFixture/linkml/issue_121.yaml
test/testFixture/linkml/issue_129.yaml
test/testFixture/linkml/issue_134.yaml
test/testFixture/linkml/issue_134b.yaml
test/testFixture/linkml/issue_163.yaml
test/testFixture/linkml/issue_163b.yaml
test/testFixture/linkml/issue_163c.yaml
test/testFixture/linkml/issue_163d.yaml
test/testFixture/linkml/issue_167.yaml
test/testFixture/linkml/issue_167b.yaml
test/testFixture/linkml/issue_177_error.yaml
test/testFixture/linkml/issue_177.yaml
test/testFixture/linkml/issue_179.yaml
test/testFixture/linkml/issue_202.yaml
test/testFixture/linkml/issue_206.yaml
test/testFixture/linkml/issue_213.yaml
test/testFixture/linkml/issue_239.yaml
test/testFixture/linkml/issue_260.yaml
test/testFixture/linkml/issue_260a.yaml
test/testFixture/linkml/issue_260b.yaml
test/testFixture/linkml/issue_260c.yaml
test/testFixture/linkml/issue_276.yaml
test/testFixture/linkml/issue_290.yaml
test/testFixture/linkml/issue_326.yaml
test/testFixture/linkml/issue_326a.yaml
test/testFixture/linkml/issue_332.yaml
test/testFixture/linkml/issue_344.yaml
test/testFixture/linkml/issue_355.yaml
test/testFixture/linkml/issue_368_imports.yaml
test/testFixture/linkml/issue_368.yaml
test/testFixture/linkml/issue_433_fixed.yaml
test/testFixture/linkml/issue_652.yaml
test/testFixture/linkml/issue_756.yaml
test/testFixture/linkml/issue_1104_data.yaml
test/testFixture/linkml/issue_1104_schema.yaml
test/testFixture/linkml/issue_2499.yaml
test/testFixture/linkml/issue_namespace.yaml
test/testFixture/linkml/issue_references.yaml
test/testFixture/linkml/issue_uriorcurie.yaml
test/testFixture/linkml/jones.yaml
test/testFixture/linkml/jsonld_context_class_uri_prefix.yaml
test/testFixture/linkml/jsonld_context_inlined_external_types.yaml
test/testFixture/linkml/jsonld_context_no_default_namespace_prefix.yaml
test/testFixture/linkml/jsonschema_class_inheritance_multivalued.yaml
test/testFixture/linkml/jsonschema_class_inheritance.yaml
test/testFixture/linkml/jsonschema_class_title_from_title.yaml
test/testFixture/linkml/jsonschema_collection_forms.yaml
test/testFixture/linkml/jsonschema_conditional_cases.yaml
test/testFixture/linkml/jsonschema_empty_inlined_as_dict_objects.yaml
test/testFixture/linkml/jsonschema_enum_title_from_title.yaml
test/testFixture/linkml/jsonschema_multivalued_element_constraints.yaml
test/testFixture/linkml/jsonschema_multivalued_slot_cardinality.yaml
test/testFixture/linkml/jsonschema_range_union_cases.yaml
test/testFixture/linkml/jsonschema_required_slot_condition_in_rule.yaml
test/testFixture/linkml/jsonschema_rule_inheritance.yaml
test/testFixture/linkml/jsonschema_rules_in_non_root_class.yaml
test/testFixture/linkml/jsonschema_slot_title_from_title.yaml
test/testFixture/linkml/jsonschema_title_from_name_missing_title.yaml
test/testFixture/linkml/jsonschema_title_from_name.yaml
test/testFixture/linkml/jsonschema_title_from_title.yaml
test/testFixture/linkml/jsonschema_top_class_identifier.yaml
test/testFixture/linkml/jsonschema_type_inheritance.yaml
test/testFixture/linkml/jsonschema_value_constraints.yaml
test/testFixture/linkml/kitchen_sink_compliance_inst_01.yaml
test/testFixture/linkml/kitchen_sink_ifabsent.yaml
test/testFixture/linkml/kitchen_sink_inst_01.yaml
test/testFixture/linkml/kitchen_sink_mlm.yaml
test/testFixture/linkml/kitchen_sink_normalized_inst_01.yaml
test/testFixture/linkml/kitchen_sink_sssom.yaml
test/testFixture/linkml/kitchen_sink.yaml
test/testFixture/linkml/linkml_issue_163.yaml
test/testFixture/linkml/linkml_issue_270.yaml
test/testFixture/linkml/linkml_issue_313.yaml
test/testFixture/linkml/linkml_issue_315_data.yaml
test/testFixture/linkml/linkml_issue_315.yaml
test/testFixture/linkml/linkml_issue_384.yaml
test/testFixture/linkml/linkml_issue_387.yaml
test/testFixture/linkml/linkml_issue_388.yaml
test/testFixture/linkml/linkml_issue_463.yaml
test/testFixture/linkml/linkml_issue_532.yaml
test/testFixture/linkml/linkml_issue_774.yaml
test/testFixture/linkml/linkml_issue_817.yaml
test/testFixture/linkml/linkml_issue_1181.yaml
test/testFixture/linkml/linkml_issue_1429.yaml
test/testFixture/linkml/linkml_issue_1608_data.yaml
test/testFixture/linkml/linkml_issue_1608_schema.yaml
test/testFixture/linkml/linkml_issue_1731.yaml
test/testFixture/linkml/loadererror1.yaml
test/testFixture/linkml/loadererror2.yaml
test/testFixture/linkml/loadererror2a.yaml
test/testFixture/linkml/loadererror3.yaml
test/testFixture/linkml/loadererror4.yaml
test/testFixture/linkml/loadererror5.yaml
test/testFixture/linkml/loadererror6.yaml
test/testFixture/linkml/loadererror7.yaml
test/testFixture/linkml/loadererror8.yaml
test/testFixture/linkml/loadererror9.yaml
test/testFixture/linkml/loadererror10.yaml
test/testFixture/linkml/loadererror11.yaml
test/testFixture/linkml/loaderpass11.yaml
test/testFixture/linkml/loadertest1.yaml
test/testFixture/linkml/localidentifiers.yaml
test/testFixture/linkml/machine.yaml
test/testFixture/linkml/main.yaml
test/testFixture/linkml/merge1.yaml
test/testFixture/linkml/mergeerror1.yaml
test/testFixture/linkml/minimalmodel.yaml
test/testFixture/linkml/multi_id.yaml
test/testFixture/linkml/multi_usages_2.yaml
test/testFixture/linkml/multi_usages_3.yaml
test/testFixture/linkml/multi_usages.yaml
test/testFixture/linkml/not_required_data.yaml
test/testFixture/linkml/not_required.yaml
test/testFixture/linkml/notebook_model_1.yaml
test/testFixture/linkml/notebook_model_2.yaml
test/testFixture/linkml/notebook_model_3.yaml
test/testFixture/linkml/notebook_model_4.yaml
test/testFixture/linkml/omo.yaml
test/testFixture/linkml/ordering.yaml
test/testFixture/linkml/organization.yaml
test/testFixture/linkml/orphan_slot_usage.yaml
test/testFixture/linkml/output.yaml
test/testFixture/linkml/owl1.yaml
test/testFixture/linkml/owl2.yaml
test/testFixture/linkml/ownalltest.yaml
test/testFixture/linkml/parameterized_dimensions.yaml
test/testFixture/linkml/pattern_1.yaml
test/testFixture/linkml/pattern-example.yaml
test/testFixture/linkml/Person-001.yaml
test/testFixture/linkml/Person-01.yaml
test/testFixture/linkml/Person-02.yaml
test/testFixture/linkml/Person-invalid-01.yaml
test/testFixture/linkml/Person-with-no-id.yaml
test/testFixture/linkml/person2.yaml
test/testFixture/linkml/personinfo_data01.yaml
test/testFixture/linkml/personinfo_person_inst_01.yaml
test/testFixture/linkml/personinfo.yaml
test/testFixture/linkml/prefix_import_test.yaml
test/testFixture/linkml/prefixes.yaml
test/testFixture/linkml/prefixtest.yaml
test/testFixture/linkml/python_complex_ranges.yaml
test/testFixture/linkml/python_lists_and_keys.yaml
test/testFixture/linkml/python_types.yaml
test/testFixture/linkml/redundant_slot_usage.yaml
test/testFixture/linkml/references.yaml
test/testFixture/linkml/resolver1.yaml
test/testFixture/linkml/resolver2.yaml
test/testFixture/linkml/resolver3.yaml
test/testFixture/linkml/resourcedescription.yaml
test/testFixture/linkml/roottest.yaml
test/testFixture/linkml/rustgen_dataframe.yaml
test/testFixture/linkml/s1.yaml
test/testFixture/linkml/s2.yaml
test/testFixture/linkml/s3.yaml
test/testFixture/linkml/schema_with_inference.yaml
test/testFixture/linkml/schema1.yaml
test/testFixture/linkml/schema2.yaml
test/testFixture/linkml/schema3.yaml
test/testFixture/linkml/schema4.yaml
test/testFixture/linkml/schema5.yaml
test/testFixture/linkml/schema6.yaml
test/testFixture/linkml/simple_example.yaml
test/testFixture/linkml/simple_slots.yaml
test/testFixture/linkml/simple_types.yaml
test/testFixture/linkml/simple_uri_test.yaml
test/testFixture/linkml/simple.yaml
test/testFixture/linkml/slot_usage_example.yaml
test/testFixture/linkml/subclass_ignored_properties.yaml
test/testFixture/linkml/synopsis1.yaml
test/testFixture/linkml/synopsis2.yaml
test/testFixture/linkml/templated_classes.yaml
test/testFixture/linkml/test.schema.yaml
test/testFixture/linkml/test.yaml
test/testFixture/linkml/testme.yaml
test/testFixture/linkml/testtypes.yaml
test/testFixture/linkml/timepoint.yaml
test/testFixture/linkml/typeerror1.yaml
test/testFixture/linkml/typeerror2.yaml
test/testFixture/linkml/typeerror3.yaml
test/testFixture/linkml/typeerror4.yaml
test/testFixture/linkml/unmasked_python_keywords_example.yaml
test/testFixture/linkml/uri_tests.yaml
test/testFixture/linkml/uriandcurie.yaml
test/testFixture/linkml/uriimports.yaml
test/testFixture/linkml/uritypes.yaml
test/testFixture/linkml/validator_errors.yaml
test/testFixture/linkml/valuesets.yaml
test/testFixture/linkml/yaml_validate_clean.yaml
test/testFixture/linkml/yaml_validate_invalid.yaml
test/testFixture/linkml/yaml1.yaml
test/testFixture/linkml/yaml2.yaml
