.vscode/**
.planning/**
.vscode-test*.mjs
AGENT.MD
LEARNINGS_DIALECT_INTEGRATION.md
typings/**
out/**
test/**
smoke-test/**
src/**
images/**
node_modules/**
scripts/**
build/**
lkml-langserver/**
Jenkinsfile
prettier*
**/*.map
.gitignore
.github/**
tsconfig.json
vsc-extension-quickstart.md
undefined/**
CONTRIBUTING.md
.vscode-test/**
.vscode-test-web/**
**/**.vsix
**/**.tar.gz
test-resources
!node_modules/prettier/index.js
!node_modules/prettier/third-party.js
!node_modules/prettier/parser-yaml.js

